<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dashboard</title>
</head>
<body>
	<%= render "layouts/bar" %>
	<%= render "layouts/dash" %>


	<div class="col-md-10">

		<h1>Bienvenido <%= current_user.email %></h1>
			
	</div>
	
	
</body>
</html>