<%= form_for(@space) do |f| %>
  <% if @space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@space.errors.count, "error") %> prohibited this space from being saved:</h2>

      <ul>
      <% @space.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-4">

    <div class="field">
    <%= f.label "Nombre" %><br>
    <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <div class="field">
      <%= f.label "Descripción" %><br>
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
    <div class="field">
      <%= f.label "capacidad" %><br>
      <%= f.number_field :capacity, :class => 'form-control' %>
    </div>
    <div class="field">
      <%= f.label "tipo" %><br>
      <%= f.number_field :kind, :class => 'form-control' %>
    </div>

</div>

<div class="col-md-4">
 
   <div class="field">
    <%= f.label "Proyector" %>
    <%= f.check_box :proyector %>
    </div>
    <div class="field">
      <%= f.label "Pc" %>
      <%= f.check_box :pc %>
    </div>
    <div class="field">
      <%= f.label "Audio" %>
      <%= f.check_box :audio %>
    </div>
    <div class="field">
      <%= f.label "Estacionamiento" %>
      <%= f.check_box :parking %>
    </div>
    <div class="field">
      <%= f.label "Cantidad de estacionamiento" %><br>
      <%= f.number_field :numberparking, :class => 'form-control' %>
    </div>
    <div class="field">
      <%= f.label "Otro" %><br>
      <%= f.text_area :other, :class => 'form-control' %>
    </div> 

</div>



  <div class="actions col-md-2 col-md-offset-3 text-center top">
    <%= f.submit class: 'btn btn-success btn-block' %> <br>
    <%= link_to 'Back', spaces_path, :class => 'btn btn-default btn-block' %>
  </div>
<% end %>
