
  <%= render "layouts/bar" %>
  <%= render "layouts/dash" %>
<p id="notice"><%= notice %></p>

<div class="container">

<h1>Espacios</h1>

<div class="col-md-10">

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Capacidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spaces.each do |space| %>
      <tr>
        <td><%= space.name %></td>
        <td><%= space.capacity %></td>
        <td><%= link_to 'Mostrar', space %></td>
        <td><%= link_to 'Editar', edit_space_path(space) %></td>
        <td><%= link_to 'Eliminar', space, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Nuevo Espacio', new_space_path %>
</div>

</div>

