
  <%= render "layouts/bar" %>
  <%= render "layouts/dash" %>
<p id="notice"><%= notice %></p>

<div class="container">
<table class="table table-responsive">
  <thead>
    <tr>
      <th>Espacio</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>Nombre</td>
        <td><%= @space.name %></td>
      </tr>
      <tr>
        <td>Creado el</td>
        <td><%= @space.created_at %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>	

</div>

