<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-3">
    <div class="field">
      <%= f.label :space_id %><br>
      <%= f.collection_select :space_id, Space.all, :id, :name %>
      </div>
    <div class="field">
      <%= f.label :permanent %><br>
      <%= f.check_box :permanent %>
    </div>
    <div class="field">
      <%= f.label :mandated %><br>
      <%= f.text_field :mandated, :class => 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :mail %><br>
      <%= f.text_field :mail, :class => 'form-control' %>
    </div>
    
  </div>
  <div class="col-md-3">
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :proyector %>
      <%= f.check_box :proyector %>
      <%= f.label :pc %>
      <%= f.check_box :pc %>
    </div>
    <div class="field">
      <%= f.label :audio %>
      <%= f.check_box :audio %>
      <%= f.label :parking %>
      <%= f.check_box :parking %>
    </div>
    <div class="field">
      <%= f.label :numberparking %><br>
      <%= f.number_field :numberparking, :class => 'form-control' %>
    </div>

  </div>
  <div class="col-md-3">
    

  </div>

  <div class="field">
    <%= f.label :begin %><br>
    <%= f.date_select :begin %>
  </div>
  <div class="field">
    <%= f.label :block1 %>
    <%= f.check_box :block1 %>


    <%= f.label :block2 %>
    <%= f.check_box :block2 %>

    <%= f.label :block3 %>
    <%= f.check_box :block3 %>
  </div>
  <div class="field">
    <%= f.label :block4 %>
    <%= f.check_box :block4 %>

    <%= f.label :block5 %>
    <%= f.check_box :block5 %>

    <%= f.label :block6 %>
    <%= f.check_box :block6 %>
  </div>
  <div class="field">
    <%= f.label :block7 %>
    <%= f.check_box :block7 %>

    <%= f.label :block8 %>
    <%= f.check_box :block8 %>
    
    <%= f.label :block9 %>
    <%= f.check_box :block9 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
