  <%= render "layouts/bar" %>
  <%= render "layouts/dash" %>
<p id="notice"><%= notice %></p>

<div class="col-md-10">

<h1>Horarios Totales</h1>

<%= search_form_for @q do |f| %>
  <%= f.label "Sala" %>
  <%= f.search_field :space_name_eq, include_blank: true %>
  <%= f.label "Fecha" %>
  <%= f.select :begin_eq, options_from_collection_for_select(Schedule.all, "begin", "begin", @search), include_blank: true %>
  <%= f.submit  %>
<% end %>
<br>

<div class="col-md-2">
  <br>
  <label for="count">Horarios totales: <span class="badge"><%= @count_schedules %></span></label>

</div>
<div class="col-md-2">
  <%= link_to "Remove All", remove_all_schedules_path, :method => :get, data: { confirm: 'está a punto de borrar todos los datos ¿Está seguro?' }, :class => 'btn btn-danger btn-block' %>
</div>

<div class="col-md-2 col-md-offset-6">
<%= link_to 'Nuevo horario', new_schedule_path, :class => 'btn btn-success btn-block' %>
</div>
<br><br><br>
<table class="table">
  <thead>
    <tr>
      <th>Permanente</th>
      <th>Día</th>
      <th>Encargado</th>
      <th>Mail</th>
      <th>Sala</th>
      <th>Bloques Ocupados</th>

      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @spaces.each do |space| %>
      <% @events.each do |schedule| %>
        <% if space.id == schedule.space.id %>
          <tr>
            <td class="col-md-1"><% if schedule.permanent == true %>
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              <%else%>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <% end %>

            </td>
            <td class="col-md-1"><%= schedule.begin.strftime("%m/%d/%Y") %></td>
            <td class="col-md-2"><%= schedule.mandated %></td>
            <td class="col-md-2"><%= schedule.mail %></td>
            <td class="col-md-1"><%= schedule.space.name %></td>
            <td class="col-md-2">
              <% if schedule.block1==true %>
                <span class="badge">1-2</span>
                
              <% end %>
              <% if schedule.block2==true %>
                <span class="badge">3-4</span>
                
              <% end %>
              <% if schedule.block3==true %>
                <span class="badge">5-6</span>
                
              <% end %>
              <% if schedule.block4==true %>
                <span class="badge">7-8</span>
                
              <% end %>
              <% if schedule.block5==true %>
                <span class="badge">9-10</span>
                
              <% end %>
              <% if schedule.block6==true %>
                <span class="badge">11-12</span>
                
              <% end %>
              <% if schedule.block7==true %>
                <span class="badge">13-14</span>
                
              <% end %>
              <% if schedule.block8==true %>
                <span class="badge">15-16</span>
                
              <% end %>
              <% if schedule.block9==true %>
                <span class="badge">17-18</span>
                
              <% end %>

            </td>
            <td class="col-md-1"><%= link_to '', schedule, class: "glyphicon glyphicon-search" %>
            <%= link_to '  ', edit_schedule_path(schedule), class: "glyphicon glyphicon-pencil" %>
            <%= link_to '  ', schedule, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-ban-circle" %></td>
          </tr>
          
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>