  <%= render "layouts/bar" %>
  <%= render "layouts/dash" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Permanent:</strong>
  <%= @schedule.permanent %>
</p>

<p>
  <strong>Begin:</strong>
  <%= @schedule.begin %>
</p>

<p>
  <strong>Lu12:</strong>
  <%= @schedule.block1 %>
</p>

<p>
  <strong>Lu34:</strong>
  <%= @schedule.block2 %>
</p>

<p>
  <strong>Lu56:</strong>
  <%= @schedule.block3 %>
</p>

<p>
  <strong>Lu78:</strong>
  <%= @schedule.block4 %>
</p>

<p>
  <strong>Lu910:</strong>
  <%= @schedule.block5 %>
</p>

<p>
  <strong>Lu1112:</strong>
  <%= @schedule.block6 %>
</p>

<p>
  <strong>Lu1314:</strong>
  <%= @schedule.block7 %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
