<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-3">

    <div class="field">
      <%= f.label :mandated %><br>
      <%= f.text_field :mandated, :class => 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :mail %><br>
      <%= f.text_field :mail, :class => 'form-control' %>
    </div>
    
  </div>
  <div class="col-md-3">
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :proyector %>
      <%= f.check_box :proyector %>
      <%= f.label :pc %>
      <%= f.check_box :pc %>
    </div>
    <div class="field">
      <%= f.label :audio %>
      <%= f.check_box :audio %>
      <%= f.label :parking %>
      <%= f.check_box :parking %>
    </div>
    <div class="field">
      <%= f.label :numberparking %><br>
      <%= f.number_field :numberparking, :class => 'form-control' %>
    </div>

  </div>
  <div class="col-md-3">
    
  <div class="field">
    <% if @request.block1==true %>
    <% @request.block1=false %>
    <%= f.label :block1 %>
    <%= f.check_box :block1 %>
      
    <% end %>
    
    <% if @request.block2==true %>
    <% @request.block2=false %>
    <%= f.label :block2 %>
    <%= f.check_box :block2 %>
      
    <% end %>
    <% if @request.block3==true %>
    <% @request.block3=false %>
    <%= f.label :block3 %>
    <%= f.check_box :block3 %>
      
    <% end %>   

    </div>

  <div class="field">
    <% if @request.block4==true %>
    <% @request.block4=false %>
    <%= f.label :block4 %>
    <%= f.check_box :block4 %>
      
    <% end %>
    <% if @request.block5==true %>
    <% @request.block5=false %>
    <%= f.label :block5 %>
    <%= f.check_box :block5 %>
      
    <% end %>
    <% if @request.block6==true %>
    <% @request.block6=false %>
    <%= f.label :block6 %>
    <%= f.check_box :block6 %>
      
    <% end %>   

    
  </div>
  <div class="field">
    <% if @request.block7==true %>
    <% @request.block7=false %>
    <%= f.label :block7 %>
    <%= f.check_box :block7 %>

      
    <% end %>
    <% if @request.block8==true %>
    <% @request.block8=false %>
    <%= f.label :block8 %>
    <%= f.check_box :block8 %>
      
    <% end %>
    <% if @request.block9==true %>
    <% @request.block9=false %>
    <%= f.label :block9 %>
    <%= f.check_box :block9 %>
      
    <% end %>
    
  </div>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
