  <%= render "layouts/bar" %>
  <%= render "layouts/dash" %>

<h1>New Request</h1>

<%= search_form_for @q, url: new_request_path do |f| %>
  <%= f.label "Sala" %>
  <%= f.search_field :space_name_eq %>
  <%= f.label "Fecha" %>
  <%= f.date_select :begin_eq %>
  <%= f.submit  %>
<% end %>

<label class="badge"><%= @space_name %></label>
<label class="badge"><%= @year %></label>
<label class="badge"><%= @month %></label>
<label class="badge"><%= @day %></label>

<%= render 'form' %>

<%= link_to 'Back', requests_path %>
