  <%= render "layouts/bar" %>
  <%= render "layouts/dash" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Daterequest:</strong>
  <%= @request.daterequest %>
</p>

<p>
  <strong>Confirmation:</strong>
  <%= @request.confirmation %>
</p>

<p>
  <strong>Finishrequest:</strong>
  <%= @request.finishrequest %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
