@import "bootstrap-sprockets";
@import "bootstrap";

body{

	padding-top:7vh;
}

.bar{

	background-color:  #ef4a3b;
	height: 93vh;
}

.bar h1{

	color: white;
}

.element-bar{
	
	font-size: 2vh;
	color: white;
}

.element-bar a{
	
	color: white;
}

.element-bar a:hover{
	
	color:black;
}

.top{
	
	padding-top: 5vh;
}

