<nav class="navbar navbar-default navbar-fixed-top text-right">
  <div class="col-md-12">
    <% if user_signed_in? %>
    Signed in as <%=current_user.email%>
    <%=link_to "Sign out", destroy_user_session_path, :method=> :delete%>

    <%else%>
    <%=link_to "Sign up", new_user_registration_path%> or <%=link_to "Sign in", new_user_session_path%>
    <%end%>
  </div>
</nav>

<%= yield %>
