<div class="col-md-2 bar text-center">
	<h1 class="text-center"><b>Dashboard</b></h1>
	<br><br>

	<ul class="nav nav-pills nav-stacked element-bar">
		<li role="presentation"> <a href="<%=spaces_path %>">&nbsp;Espacios &nbsp; &nbsp;<span class="glyphicon glyphicon-th" aria-hidden="true"></span></a> </li>
		<br>
		<li role="presentation"> <a href="<%=requests_path %>">&nbsp;&nbsp;Solicitudes &nbsp; &nbsp;<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a> </li>
		<br>
		<li role="presentation"> <a href="<%=schedules_path %>">&nbsp;Horarios &nbsp; &nbsp;<span class="glyphicon glyphicon-calendar glyphicon-align-left" aria-hidden="true"></span></a> </li>
		<br>
		<li role="presentation"> <a href="#">&nbsp;&nbsp;Estadísticas &nbsp; &nbsp;<span class="glyphicon glyphicon-stats glyphicon-align-left" aria-hidden="true"></span></a> </li>
	</ul>
			
</div>

<%= yield %>